/* $col-1: #F44336
$col-2: #E91E63
$col-3: #9C27B0
$col-4: #673AB7
$col-5: #3F51B5
$col-6: #2196F3

body
  font-family: 'Crafty Girls', cursive
  font-size: 16px 
h1
  padding: 3rem 1rem 0
  text-align: center
  line-height: 1.3
  letter-spacing: 4px
  font-size: 2em
p
  padding: 3rem 1rem 0
  text-align: center
  line-height: 1.3
  letter-spacing: 4px
  font-size: 1.125em */



  /* .header > a {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    color: white;
    text-align: center;
    align-items: center;
    align-items: center;
  } */

  .site_used_for {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-decoration: #000000;
    align-items: center;
  }

  #desc { 
    text-align: center;
    color: blue;
  }

  .video_description { 
    display:block;
  }

  .video-container { 
      position: relative; 
      padding-bottom: 56.25%; 
      padding-top: 30px; 
      height: 0; 
      overflow: hidden; 
    }

.video-container iframe, .video-container object, .video-container embed { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}
 

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  color: white;
  text-align: center;
}

.footer_dimensions { 
  object-fit: contain;
  width: 100%;
}

.pluudo_mid_icons > img{ 
  object-fit: contain;
  width: 50px;
  padding: 5%;
}

.pluudo_icon > img { 
  width: 55px;
}

 


